body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:black;
  background-image:url(/images/splash.jpg) ;
}

#gna {
  background-color:white;
  border-radius: 5px;
}

a {
  color: #00B7FF;
}

#tableEtablissements td:hover {
  cursor:pointer;
}

#chart rect {
  fill: steelblue;
}

#chart text {
  fill: black;
  font: 10px sans-serif;
  /*text-anchor: end;*/
}
