body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tableEtablissements td:hover {
  cursor:pointer;
}

#chart rect {
  fill: steelblue;
}

#chart text {
  fill: black;
  font: 10px sans-serif;
  /*text-anchor: end;*/
}
