
#gna {
  background-color:white;
  border-radius: 5px;
}

a {
  color: #00B7FF;
}

#tableEtablissements td:hover {
  cursor:pointer;
}

#chart rect {
  fill: steelblue;
}

#chart text {
  fill: black;
  font: 10px sans-serif;
  /*text-anchor: end;*/
}
